* {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

section[class*="dark"] {
    color: #FFFFFF;
}

section[class*="light"] {
    color: #000000;
}

/*MENU*/
.menu {
    background-color: black;
    height: 75px;
}

.menu__logo {
    position: absolute;
    width: 183.1px;
    height: 74.85px;
    left: 7.61%;
}

.menu__list {
    position: absolute;
    left: 50.2%;
    list-style: none;
    width: 62.5%;
}

.menu__list__item {
    display: inline-block;
    margin-left: 5%;
    margin-top: 25px;
    /*width: 12.5%;*/
}

.menu__list__link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
}

/*Main banner*/
/*left part*/
.banner-dark {
    background-image: url(http://127.0.0.1:8003/static/image/mainbanner.jpg);
    background-size: cover;
    /*background-color: rgba(3, 3, 3, 0,5);*/
    aspect-ratio: 1510/900;
}

.banner__box1 {
    position: absolute;
    margin: 10.11% 44.37% 20.56% 11.26%;
    aspect-ratio: 670/570;
}

.banner__box2 {
    position: absolute;
    margin: 10.11% 11.29% 11.29% 57.62%;
    aspect-ratio: 450/470;
}

.banner__header {
    font-size: 48px;
    font-weight: 500;
}

hr[class*="line"] {
    width: 170px;
}

.line-light {
    margin-left: 44.3%;
    margin-right: 44.3%;
    border-color: #ec7979;
}

.banner__text {
    margin-top: 42px;
    margin-bottom: 84px;
    width: 270px;
}

a[class*="button-small"] {
    border-style: solid;
    padding: 20px 90px;
    text-decoration: none;
    font-weight: 600;
}

.banner__button-small {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

/*right part*/
.banner__box2 {
    background-color: #FFFFFF;
    aspect-ratio: 450/470;
    /*width: 470px;
    height: 450px;*/
    border: #ec7979 solid;
    border-radius: 10px;
    color: #BDBDBD;
    font-size: 14px;
    float: right;
}

.banner__box2__header {
    text-align: center;
    color: #000000;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    padding: 30px;
}

.free {
    color: #ec7979;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
}

.banner__form { 
    height: 43.33%;
    width: 82.22%;
    margin-top: 10%;
    margin-left: 8.89%;
    margin-right: 8.89%;
}


.banner__form__item {
    display: block;
    height: 8.44%;
    width: 78,72%;
    /*margin-top: 8%;*/
    margin-bottom: 1%;
}

.banner__form__name {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 1%;
}

.banner__form__input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #BDBDBD;
    border-width: 1px;
}

.banner__form__button {
    width: 100%;
    height: 13.33%;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    background-color: #ec7979;
    border: none;
}

/*media*/
.media-light {
    background-color: #F8EFEF;
    height: 140px;
}

.media__box1 {
    width: 470px;
    margin-left: 170px;
    float: left;
}

.media__header {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    margin-top: 2px;
}

.media__text {
    margin-bottom: 18px;
    margin-top: 20px;
    width: 470px;
    padding-top: 20px;
    font-size: 18px;
}

.media__list {
    list-style: none;
    margin-left: 689px;
    padding-top: 40.8px;
    padding-bottom: 40.8px;
    width: 657.21px;
}

.media__list__item {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

/*Tabs*/
#tabs {
    background-color: #FFFFFF;
}

.tabs__list {
    list-style: none;
    text-decoration: none;
    margin-left: 170px;
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    margin-top: 60px;
}

.tabs__list__item {
    display: inline;
    padding-left: 81.5px;
    padding-right: 81.5px;
}

div[class*="tabs__main-box"] {
    width: 1170px;
    height: 701px;
    margin-left: 170px;
    margin-top: 80px;
    border: #BDBDBD;
}

.tabs__box{
    height: 501px;
    width: 570px;
    float: left;
}

.tabs__img {
    float: right;
    aspect-ratio: 470/500;
}

.tabs__box__header {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    height: 124px;
    width: 570px;
}

p[class*="tabs__box__text"] {
    margin-bottom: 27px;
}

/*кнопка без отступа*/
.tabs__button-small {
    background-color: #ec7979;
    color: #FFFFFF;
    font-family: Open Sans;
    font-weight: 600;
}

/*about*/
#about {
    height: 900px;
    aspect-ratio: 1510/900;
    margin: 20px 170px 20px 170px;
}

.about__header {
    font-family: Raleway;
    font-size: 36px;
    text-align: center;
    aspect-ratio: 1510/150;
}

.about__text {
    padding-top: 40px;
    text-align: center;
    aspect-ratio: 1510/100;
}

.about__list {
    display: inline;
    aspect-ratio: 1510/665;
}

.about__list__item {
    list-style: none;
    display: inline;
    width: 350px;
    aspect-ratio: 370/383;
    float: right;
}

.about__icon {
    aspect-ratio: 1/1;
    margin-left: 27%;
}

.about__header2 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10%;
}

.about__item__text {
    text-align: center;
}

/*Pricing options*/
#prise {
    background-color: #F5F5F5;
    aspect-ratio: 1510/900;
    /*height: 900px;*/
}

.prise__main-header {
    font-size: 36px;
    text-align: center;
    /*height: 100px;*/
    text-transform: uppercase;
    aspect-ratio: 1510/100;
    padding-top: 50px;
}

.prise__discription {
    text-align: center;
    aspect-ratio: 1510/21;
    margin-top: 40px;
}