{% extends "base.html" %}

{% block tabs %}

<section id="tabs">
            <ul class="tabs__list">
                <li class="tabs__list__item">Tab1</li>
                <li class="tabs__list__item">Tab2</li>
                <li class="tabs__list__item">Tab3</li>
            </ul>
            <div class="tabs__main-box1">
                <div class="tabs__box">
                    <h3 class="tabs__box__header">Tabs with soft transitioning effect</h3>
                    <p class="tabs__box__text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                        justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
                        penatibus et magnis dis parturient montes.</p>
                    <p class="tabs__box__text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                <a class="tabs__button-small" href=" {{ static('/image/92951104.jpeg') }}" download>Download</a>
                </div>
                <img class="tabs__img" src=" {{ static('/image/Rectangle 111111.png') }}" alt="statue of liberty">
            </div>
            <div class="tabs__main-box2">
                <div class="tabs__box">
                    <h3 class="tabs__box__header">tab2</h3>
                    <p class="tabs__box__text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nesciunt!</p>
                    <p class="tabs__box__text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nesciunt!</p>
                    <a class="tabs__button-small" href=" {{ static('/image/92951104.jpeg') }}" download>Download</a>
                </div>
                <img class="tabs__img" src=" {{ static('/image/Rectangle 111111.png') }}" alt="statue of liberty">
            </div>
            <div class="tabs__main-box3">
                <div class="tabs__box">
                    <h3 class="tabs__box__header">tab2</h3>
                    <p class="tabs__box__text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nesciunt!</p>
                    <p class="tabs__box__text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nesciunt!</p>
                    <a class="tabs__button-small" href=" {{ static('/image/92951104.jpeg') }}" download>Download</a>
                </div>
                    <img class="tabs__img" src=" {{ static('/image/Rectangle 111111.png') }}" alt="statue of liberty">
            </div>
        </section>

{% endblock tabs %}        