{% extends "base.html" %}

{% block about %}
 <section id="about">
            <h2 class="about__header">WHY THIS IS AWESOME</h2>
            <hr class="line-light">
            <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <ul class="about__list">
                <li class="about__list__item">
                    <img class="about__icon" src="./imagine/ellipse1.svg" alt="icon">
                    <h3 class="about__header2">Thoughtful Design</h3>
                    <p class="about__item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</p>
                </li>
                <li class="about__list__item">
                    <img class="about__icon" src="./imagine/ellipse2.svg" alt="icon">
                    <h3 class="about__header2">Thoughtful Design</h3>
                    <p class="about__item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</p>
                </li>
                <li class="about__list__item">
                    <img class="about__icon" src="./imagine/ellipse3.svg" alt="icon">
                    <h3 class="about__header2">Thoughtful Design</h3>
                    <p class="about__item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</p>
                </li>
            </ul>
        </section>
{% endblock about %}