{% extends "base.html" %}

{% block home %}
  
    <main>
        <section class="banner-dark">
            <div class="banner__box1"> 
                <img class="banner__logo" src=" {{ static('/image/AXITlogo.svg') }}" alt="logo">
                <h1 class="banner__header">MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES</h1>
                <hr class="line-dark">
                <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a class="banner__button-small" href=" {{ static('/image/92951104.jpeg') }}" download>Download</a>
            </div>
    
            <div class="banner__box2">
                <h2 class="banner__box2__header">Try Your <span class="free">FREE</span> Trial Today</h2>
                <form class="banner__form" action="">
                    <div class="banner__form__item">
                        <label class="banner__form__name" for="nick">Name</label>
                        <input class="banner__form__input" type="text" name="nick">
                    </div>
                    <div class="banner__form__item">
                        <label class="banner__form__name" for="e-mail">Email</label>
                        <input class="banner__form__input" type="text" name="email">
                    </div>
                    <div class="banner__form__item">
                        <label class="banner__form__name" for="password">Password</label>
                        <input class="banner__form__input" type="password" name="password">
                    </div>
                </form>
                <button class="banner__form__button">Get started</button>
            </div>
        </section>

{% endblock home %}   